name: master_workflow2

on:
  push:
    branches:
      - '**'

env:
  DocC_Generated_Static_Site_Upload_Name: docC-generated-static-site
  Swift_SPM_Build_Path: .swiftspm
  Jekyll_Static_Site_Destination_Path: ../docc_static_site/_site

jobs:

  # build:
  #   runs-on: macos-12
  #   steps:
  #   - uses: maxim-lobanov/setup-xcode@v1
  #     with:
  #       xcode-version: latest-stable

  #   - name: update swift
  #     uses: swift-actions/setup-swift@v1

    # - name: checkout
    #   uses: actions/checkout@v3
    #   with:
    #    repository: ${{ github.event.pull_request.head.repo.full_name }}
    #    ref: ${{ github.event.pull_request.head.ref }}

  #   - name: Build
  #     run: |
  #       swift build -v

  # test:
  #   needs: build
  #   runs-on: macos-12

  #   steps:
  #   - uses: maxim-lobanov/setup-xcode@v1
  #     with:
  #       xcode-version: latest-stable

  #   - name: update swift
  #     uses: swift-actions/setup-swift@v1

  #   - name: checkout
  #     uses: actions/checkout@v3
  #     with:
  #      repository: ${{ github.event.pull_request.head.repo.full_name }}
  #      ref: ${{ github.event.pull_request.head.ref }}

  #   - name: Run tests
  #     run: |
  #       swift test -v
  
  build_docC:
    # needs: test
    runs-on: macos-12
    env:
      DocC_Derived_Data_Path_Build: .doc_build
      DocC_Find_Executable_Path: $(xcrun --find docc)
      Docc_Generated_Archive_Path: $(find . -regex '.*/[^/]*.doccarchive')
      DocC_Static_Site_Build_Ouptput_Path: ../docc_static_site
    permissions:
      contents: read

    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: update swift
      uses: swift-actions/setup-swift@v1

    - name: checkout
      uses: actions/checkout@v3
      with:
       repository: ${{ github.event.pull_request.head.repo.full_name }}
       ref: ${{ github.event.pull_request.head.ref }}

    - name: Prepare Building DocC
      run: |

        mkdir $DocC_Derived_Data_Path_Build

        mkdir $DocC_Static_Site_Build_Ouptput_Path

    - name: Build DocC
      run: |
        Package_Name=$(basename "$PWD")
        xcodebuild docbuild -scheme $Package_Name -derivedDataPath $DocC_Derived_Data_Path_Build -destination 'platform=iOS Simulator,name=iPhone 13'

        echo "DocC Archeive Build Succeed"

        $DocC_Find_Executable_Path process-archive transform-for-static-hosting $Docc_Generated_Archive_Path --output-path $DocC_Static_Site_Build_Ouptput_Path --hosting-base-path $Package_Name

        echo "DocC Static Site Generated, Succeed"

    - name: Upload DocC Static Site
      uses: actions/upload-pages-artifact@v0
      with:
        name: $DocC_Generated_Static_Site_Upload_Name
        path: $DocC_Static_Site_Build_Ouptput_Path
        retention-days: 2
  
  # build_deploy_site:
  #   needs: build_docC
  #   runs-on: ubuntu-latest
  #   env:
  #     Jekyll_Static_Site_Destination_Path: ./docc_static_site/_site

  #   stpes:
  #   - name: Download a single artifact
  #     uses: actions/download-artifact@v3
  #     with:
  #       name: $DocC_Generated_Static_Site_Upload_Name

  #   - name: Build Static Site With Jekyll
  #     permissions:
  #       pages: write
  #       contents: read
  #     uses: actions/jekyll-build-pages@v1
  #     with:
  #       source: ./$DocC_Generated_Static_Site_Upload_Name
  #       destination: $Jekyll_Static_Site_Destination_Path
    
  #   - name: Upload Static Site Artifacts
  #     permissions:
  #       pages: write
  #       contents: read
  #     uses: actions/upload-pages-artifact@v0
  #     with:
  #       name: github-pages
  #       path: $Jekyll_Static_Site_Destination_Path
  #       retention-days: 1

  #   - name: Deploy
  #     permissions:
  #       contents: read
  #       pages: write
  #       id-token: write
  #     uses: actions/deploy-pages@v1
  #     with:
  #       emit_telemetry: false
  #       timeout: 600000
  #       error_count: 10
  #       reporting_interval: 5000
  #       artifact_name: github-pages
