name: master_workflow2

on:
  push:
    branches:
      - '**'

env:
  DocC_Generated_Static_Site_Upload_Name: docC_generated_site_uploaded_name
  DocC_Generated_Static_Site_Upload_Zip_Name: docC_generated_site_uploaded_name.tar

jobs:

  # build:
  #   runs-on: macos-12
  #   steps:
  #   - uses: maxim-lobanov/setup-xcode@v1
  #     with:
  #       xcode-version: latest-stable

  #   - name: update swift
  #     uses: swift-actions/setup-swift@v1

    # - name: checkout
    #   uses: actions/checkout@v3
    #   with:
    #    repository: ${{ github.event.pull_request.head.repo.full_name }}
    #    ref: ${{ github.event.pull_request.head.ref }}

  #   - name: Build
  #     run: |
  #       swift build -v

  # test:
  #   needs: build
  #   runs-on: macos-12

  #   steps:
  #   - uses: maxim-lobanov/setup-xcode@v1
  #     with:
  #       xcode-version: latest-stable

  #   - name: update swift
  #     uses: swift-actions/setup-swift@v1

  #   - name: checkout
  #     uses: actions/checkout@v3
  #     with:
  #      repository: ${{ github.event.pull_request.head.repo.full_name }}
  #      ref: ${{ github.event.pull_request.head.ref }}

  #   - name: Run tests
  #     run: |
  #       swift test -v
  
  build_docC:
    # needs: test
    runs-on: macos-12
    permissions:
      contents: read
      pages: write

    env:
      DocC_Archeive_Build_Success_Message: "${0;32}DocC Archeive Build Succeed\n${'\033[0m'}"
      DocC_Static_Site_Generated_Success_Message: "${0;32}DocC Static Site Generated, Succeed\n${'\033[0m'}"
      DocC_Derived_Data_Path_Build: ./.doc_build
      DocC_Static_Site_Build_Ouptput_Path: "./docc_static_site"

    steps:
    # - uses: maxim-lobanov/setup-xcode@v1
    #   with:
    #     xcode-version: latest-stable

    # - name: update swift
    #   uses: swift-actions/setup-swift@v1

    - name: checkout
      uses: actions/checkout@v3
      with:
       repository: ${{ github.event.pull_request.head.repo.full_name }}
       ref: ${{ github.event.pull_request.head.ref }}

    - name: Prepare Building DocC
      run: |

        mkdir $DocC_Derived_Data_Path_Build

        mkdir $DocC_Static_Site_Build_Ouptput_Path

    - name: Build DocC
      run: |
        Package_Name=$(basename "$PWD")
        DocC_Find_Executable_Path=$(xcrun --find docc)

        xcodebuild docbuild -scheme $Package_Name -derivedDataPath $DocC_Derived_Data_Path_Build -destination 'platform=iOS Simulator,name=iPhone 13'

        echo -e $DocC_Archeive_Build_Success_Message

        Docc_Generated_Archive_Path=$(find . -regex '.*/[^/]*.doccarchive')

        $DocC_Find_Executable_Path process-archive transform-for-static-hosting $Docc_Generated_Archive_Path --output-path $DocC_Static_Site_Build_Ouptput_Path --hosting-base-path $Package_Name

        echo -e $DocC_Static_Site_Generated_Success_Message

    - name: Archive DocC Generated Site Artifact
      shell: bash
      run: |
        gtar --dereference --hard-dereference --directory $DocC_Static_Site_Build_Ouptput_Path -cvf "$RUNNER_TEMP/$DocC_Generated_Static_Site_Upload_Zip_Name" --exclude=.git --exclude=.github .

    - name: Upload DocC Artifact
      uses: actions/upload-artifact@main
      with:
        name: ${{ env.DocC_Generated_Static_Site_Upload_Name }}
        path: ${{ runner.temp }}/${{ env.DocC_Generated_Static_Site_Upload_Zip_Name }}
        retention-days: 1
        if-no-files-found: error
  
  build_deploy_site:

    needs: build_docC
    runs-on: ubuntu-latest

    permissions:
      pages: write
      contents: read
      id-token: write

    env:
      Jekyll_Build_Output_Directory: ./docC_generated_site_uploaded_name/_site

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:

    - name: checkout
      uses: actions/checkout@v3
      with:
       repository: ${{ github.event.pull_request.head.repo.full_name }}
       ref: ${{ github.event.pull_request.head.ref }}

    - name: Download a single artifact
      uses: actions/download-artifact@v3
      with:
        name: ${{ env.DocC_Generated_Static_Site_Upload_Name }}

    - name: Unarchive Artifact
      run: |
        mkdir ${{ env.DocC_Generated_Static_Site_Upload_Name }}
        tar -xf ${{ env.DocC_Generated_Static_Site_Upload_Zip_Name }} -C ./${{ env.DocC_Generated_Static_Site_Upload_Name }}

    - name: Build Static Site With Jekyll
      uses: actions/jekyll-build-pages@v1
      with:
        source: ./${{ env.DocC_Generated_Static_Site_Upload_Name }}
        destination: ${{ env.Jekyll_Build_Output_Directory }}

    - name: Upload Static Site Artifacts
      uses: actions/upload-pages-artifact@v0
      with:
        name: github-pages
        path: ${{ env.Jekyll_Build_Output_Directory }}
        retention-days: 1

    - name: Deploy
      uses: actions/deploy-pages@v1
      with:
        emit_telemetry: false
        timeout: 600000
        error_count: 10
        reporting_interval: 5000
        artifact_name: github-pages
