name: master_workflow

on:
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: macos-12

    steps:

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: update swift
      uses: swift-actions/setup-swift@v1

    - name: checkout
      uses: actions/checkout@v3
      with:
       repository: ${{ github.event.pull_request.head.repo.full_name }}
       ref: ${{ github.event.pull_request.head.ref }}

    - name: Build
      run: |
        swift build -v

    - name: Run tests
      run: |
        swift test -v

    - name: Build Documents
      run: |
        mkdir .doc_build

        build_path=".doc_build"
        docc_executable_path=$(xcrun --find docc)
        swiftspm=".swiftpm"
        docs="docs"
        package_name=$(basename "$PWD")

        xcodebuild docbuild -scheme $package_name -derivedDataPath $build_path -destination 'platform=iOS Simulator,name=iPhone 13'

        echo "DocC Archeive Build Succeed"

        docc_build=$(find . -regex '.*/[^/]*.doccarchive')

        $docc_executable_path process-archive transform-for-static-hosting $docc_build --output-path $docs --hosting-base-path $package_name

        echo "DocC Static Site Generator Succeed"

        rm -rf $build_path

        echo "Removing $build_path"

        rm -rf $swiftspm

        echo "Removing $swiftspm"
    
    - name: Show Changes After Building Docc
      run: |
        git branch --show-current
        git status

    - name: Commit Changes
      uses: EndBug/add-and-commit@v9
      with:
        message: update document
        committer_name: GitHub Actions
        committer_email: actions@github.com
