name: shared_workflow

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
env:
  Package_Name: Mockia

concurrency: 
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}/Contents/Developer"

    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: Build On ${{ matrix.name }}
      continue-on-error: false
      run: |
        xcversion simulators --install='iOS ${{ matrix.iOSVer }}'
        xcodebuild -scheme $Package_Name -destination '${{ matrix.destination }}'
    
    strategy:
      fail-fast: false
      matrix:
        include:
          # - destination: 'Platform=iOS Simulator,name=iPhone 11,OS=14.5'
          #   runsOn: macos-11
          #   xcode: "Xcode_12.5.1.app"
          #   name: "iPhone 12, iOS 14.5, Xcode 12.5.1"

          - destination: 'Platform=iOS Simulator,name=iPhone 13,OS=15.5'
            iOSVer: "15.5"
            runsOn: macos-12
            xcode: "Xcode_13.4.1.app"
            name: "iPhone 13, iOS 15.5, Xcode 13.4.1"

  unit_test:
    runs-on: macos-12
    needs: build
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: Run tests
      continue-on-error: false
      run: |
        swift test -v
