name: shared_workflow

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
env:
  Package_Name: Mockia

concurrency: 
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    # runs-on: ${{ matrix.runsOn }}
    runs-on: macos-12
    # env:
      # DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}/Contents/Developer"

    steps:
    - name: checkout
      uses: actions/checkout@v3

    # - name: Build On ${{ matrix.name }}
    - name: Build 
      continue-on-error: false
      run: |
        # xcodebuild -scheme $Package_Name -showdestinations
        # xcodebuild -scheme $Package_Name -destination '${{ matrix.destination }}'
        xcodebuild -scheme $Package_Name -destination 'Platform=iOS Simulator,name=iPhone 13'
    
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     include:
    #       - destination: 'Platform=iOS Simulator,OS=15.5,name=iPhone 13 Pro'
    #         runsOn: macos-12
    #         xcode: "Xcode_13.4.1.app"
    #         name: "iPhone 13, iOS 15.5, Xcode 13.4.1"

  unit_test:
    runs-on: macos-12
    needs: build
    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: Run tests
      continue-on-error: false
      run: |
        swift test -v
