name: Swift

on:
  push:
    branches: [ "master", "add-docc-build-to-action" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - name: update swift
      uses: swift-actions/setup-swift@v1

    - name: checkout
      uses: actions/checkout@v3

    - name: Build
      run: |
        swift build -v

    - name: Run tests
      run: |
        swift test -v

    - name: Build Documents
      run: |
        swift package --allow-writing-to-directory ./docs generate-documentation --disable-indexing --transform-for-static-hosting --hosting-base-path Mockia --output-path ./docs --target Mockia
    
    - name: Show Changes After Building Docc
      run: |
        git branch --show-current
        git status

    - name: Commit Changes
      uses: EndBug/add-and-commit@v9
      with:
        message: update document
        committer_name: GitHub Actions
        committer_email: actions@github.com
